@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.lefttab {
  background-color: rgb(248, 248, 248);
  font-family: "Montserrat", sans-serif;
}

.imagebox0 {
  display: flex;
  justify-content: center;
  box-shadow: 23px 24px 42px rgba(0, 0, 0, 0.25);
  border-radius: 22px;
  height: 30vh;
  width: 400px;
  height: 400px;
  margin-top: 60px;
  position: fixed;
  background: linear-gradient(170deg, #0a7fb6, #034463);
}
.imagebox2 {
  display: flex;
  justify-content: center;
  box-shadow: 23px 24px 42px rgba(0, 0, 0, 0.25);
  border-radius: 22px;
  height: 30vh;
  width: 400px;
  height: 400px;
  margin-top: 60px;
  position: fixed;

  background: linear-gradient(170deg, #057de2, #014175);
}

.imageboxdashboard {
  display: flex;
  justify-content: center;
  box-shadow: 23px 24px 42px rgba(0, 0, 0, 0.25);
  border-radius: 22px;
  height: 30vh;
  width: 400px;
  height: 400px;
  margin-top: 60px;
  position: fixed;

  background: linear-gradient(170deg, #005eaa, rgb(0, 37, 66));
}

.imageboxappwebsite {
  display: flex;
  justify-content: center;
  box-shadow: 23px 24px 42px rgba(0, 0, 0, 0.25);
  border-radius: 22px;
  height: 30vh;
  width: 400px;
  height: 400px;
  margin-top: 60px;
  position: fixed;

  background: linear-gradient(170deg, #ff9100, #9b5800);
}

.imagebox-gamerz {
  display: flex;
  justify-content: center;
  box-shadow: 23px 24px 42px rgba(0, 0, 0, 0.25);
  border-radius: 22px;
  height: 30vh;
  width: 400px;
  height: 400px;
  margin-top: 60px;
  position: fixed;

  background: linear-gradient(170deg, rgb(9, 163, 252), rgb(8, 18, 153) 80%);
}

.imagebox1 {
  display: flex;
  justify-content: center;
  box-shadow: 23px 24px 42px rgba(0, 0, 0, 0.25);
  border-radius: 22px;
  height: 30vh;
  width: 400px;
  height: 400px;
  margin-top: 60px;
  position: fixed;
  background: linear-gradient(170deg, rgb(194, 40, 40), rgb(128, 16, 2) 80%);
}

.imagebox3 {
  display: flex;
  justify-content: center;
  box-shadow: 23px 24px 42px rgba(0, 0, 0, 0.25);
  border-radius: 22px;
  height: 30vh;
  width: 400px;
  height: 400px;
  margin-top: 60px;
  position: fixed;
  background: linear-gradient(170deg, rgb(252, 187, 46), rgb(199, 119, 0) 80%);
}
.imagebox4 {
  display: flex;
  justify-content: center;
  box-shadow: 23px 24px 42px rgba(0, 0, 0, 0.25);
  border-radius: 22px;
  height: 30vh;
  width: 400px;
  height: 400px;
  margin-top: 60px;
  position: fixed;
  background: linear-gradient(170deg, rgb(106, 185, 32), rgb(33, 68, 4) 80%);
}

.imagebox5 {
  display: flex;
  justify-content: center;
  box-shadow: 23px 24px 42px rgba(0, 0, 0, 0.25);
  border-radius: 22px;
  height: 30vh;
  width: 400px;
  height: 400px;
  margin-top: 60px;
  position: fixed;
  background: linear-gradient(170deg, #ffbc2a, #e62200);
}

.imagebox6 {
  display: flex;
  justify-content: center;
  box-shadow: 23px 24px 42px rgba(0, 0, 0, 0.25);
  border-radius: 22px;
  height: 30vh;
  width: 400px;
  height: 400px;
  margin-top: 60px;
  position: fixed;
  background: linear-gradient(170deg, #eea300, #eea300 80%);
}

.imageboxui1 {
  display: flex;
  justify-content: center;
  box-shadow: 23px 24px 42px rgba(0, 0, 0, 0.25);
  border-radius: 22px;
  height: 30vh;
  width: 400px;
  height: 400px;
  margin-top: 60px;
  position: fixed;
  background: linear-gradient(170deg, #eea300, #c76000 80%);
}

.imageemoticon {
  width: 100px;
  padding-left: 40%;
  padding-top: 0;
  display: flex;
  align-items: center;
  text-align: center;
}

.hovertext {
  color: white;
  font-size: 20px;
  justify-content: center;
  text-align: center;
  padding: 100px;
  padding-bottom: 0;
}

.footericons {
  color: black;
  font-weight: 200;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  text-align: right;
  margin-top: 15px;
}

.gmailimageclass {
  width: 140%;
  height: 80%;
  margin-top: 30px;
  /* transform: skewX(3deg);
  transform: skewY(3deg);
  transform: rotate(3deg); */
}

.sphvereimageclass {
  width: 140%;
  height: 80%;
  margin-top: 30px;
  /* transform: skewX(30deg);
  transform: skewY(-3deg);
  transform: rotate(-3deg); */
}

.codinngproject3 {
  background: linear-gradient(170deg, rgb(194, 40, 40), rgb(128, 16, 2) 80%);
}

.paddingclass {
  padding-bottom: 20px;
}
.activetabs {
  background-color: rgb(112, 112, 112) !important;
  color: rgb(255, 255, 255) !important;
  padding: 8px;
  box-shadow: 8px 8px 8px rgba(5, 5, 5, 0.25) !important;
}

.activetabsGraphic {
  background-color: rgb(112, 112, 112) !important;
  color: rgb(255, 255, 255) !important;
  padding: 8px;
  box-shadow: -8px 8px 8px rgba(5, 5, 5, 0.25) !important;
}

.activetabsUI {
  background-color: rgb(112, 112, 112) !important;
  color: rgb(255, 255, 255) !important;
  padding: 8px;
  box-shadow: 8px 8px 8px rgba(5, 5, 5, 0.25) !important;
}
