@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

#ux-heading,
#front-heading {
  flex: 1;
  color: rgb(66, 66, 66);
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 13px;
  margin: auto;
  font-size: 5px;
  padding: 0px;
  list-style: none;
  box-shadow: 2px 2px 20px rgba(172, 172, 170, 0.25);
  border-radius: 128px;
  padding-top: 5px;
  padding-bottom: 5px;
  filter: blur(0.3px);
}
.project-heading {
  display: flex;
  margin: 0 auto;
  width: 350px;
  border-radius: 128px;
  margin-top: 20px;
  justify-content: flex-end;
}
#ux-heading:hover,
#front-heading:hover {
  background-color: rgb(196, 196, 196);
  color: black;
}

.codetab {
  background-color: rgb(196, 196, 196);
  color: black;
}

.project-heading .tabs__nav {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.nav__name {
  position: absolute;
  right: 3vw;
  top: 2vh;
}

.nav__name h1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 3px;
  text-align: right;
  cursor: pointer;
}
.nav__name h2 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-align: right;
}

.nav__name h1:hover {
  font-size: 22px;
  text-align: right;
}
